<template>
  <div :class="blockClassName"
       class="block"
       :style="[blockInlineStyle, {'font-size': block.weight}]"
       :ref="'element'">
    {{ block.weight }}
  </div>
</template>

<script>
const MAP_BLOCK_TYPE_TO_SHAPE = {
  0: 'block--circle', 1: 'block--triangle', 2: 'block--rectangle'
}
export default {
  name: 'Block',
  props: {
    block: {
      type: Object, required: true
    },
    side: {
      type: Boolean
    },
    top: {
      type: Number
    }
  },
  computed: {
    blockClassName () {
      return MAP_BLOCK_TYPE_TO_SHAPE[this.block.type]
    },
    blockInlineStyle () {
      const { offset, type, height } = this.block
      const { side, top } = this

      const topOffset = top || 0
      const leftOffset = side ? 50 + offset * 10 : 50 - offset * 10
      const blockHeight = type !== 1 ? {
        height: `${height.toFixed(0)}px`, width: `${height.toFixed(0)}px`, lineHeight: `${height.toFixed(0)}px`
      } : {
        borderRightWidth: `${height.toFixed(0)}px`,
        borderBottomWidth: `${height.toFixed(0)}px`,
        borderLeftWidth: `${height.toFixed(0)}px`,
        lineHeight: `${height.toFixed(0)}px`
      }

      return {
        top: `${topOffset}px`, left: `${leftOffset}%`, ...blockHeight
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.block
  position: absolute
  transform: translate(-50%, -100%)
  text-align: center
  color: #263238
  width: .6em
  height: .6em
  border: 5px solid rgba(0,0,0,.1)
  -webkit-transform: translateY(-100%)
  line-height: .5em
  font-weight: 700
  &--rectangle
    background-color: rgba(236, 75, 246, 0.7)
  &--circle
    border-radius: 50%
    background-color: rgba(130, 252, 116, 0.7)

  &--triangle
    width: 0
    height: 0
    border: none
    border-right: 50px solid transparent
    border-bottom: 50px solid #db5858
    border-left: 50px solid  transparent

</style>
