<template>
    <section class="dropbox">
        <FallingBlock v-for="(block, index) in fallingBlocks"
                      :block="block"
                      :index="index"
                      :timeOut="timeOut"
                      @finished-falling="onFinishFalling"
                      :key="block.id">
        </FallingBlock>
      <div class="next-block">
        {{ 'NEXT_BLOCK' | localize }}
      </div>
    </section>
</template>

<script>
import FallingBlock from '@/components/FallingBlock'
import { mapMutations } from 'vuex'
import {
  ITERATION_COUNT_INCREASING,
  TIMEOUT_STEP_DECREASING,
  INITIAL_TIMEOUT
} from '@/constants'

export default {
  components: {
    FallingBlock
  },
  data () {
    return {
      timeOut: INITIAL_TIMEOUT,
      iterationCounter: 0
    }
  },
  computed: {
    fallingBlocks () {
      return this.$store.state.fallingBlocks
    }
  },
  methods: {
    ...mapMutations(['startCreationOfFallingBlock', 'moveToTheRight', 'moveToTheLeft']),
    onKeyDown (e) {
      if (e.keyCode === 39) this.moveToTheRight()
      if (e.keyCode === 37) this.moveToTheLeft()
    },
    onFinishFalling () {
      this.iterationCounter++
      if (this.iterationCounter === ITERATION_COUNT_INCREASING) {
        this.timeOut -= TIMEOUT_STEP_DECREASING
        this.iterationCounter = 0
      }
    }
  },
  beforeMount () {
    this.startCreationOfFallingBlock()
    window.addEventListener('keydown', this.onKeyDown)
  },
  beforeDestroy () {
    window.removeEventListener('keydown', this.onKeyDown)
  }
}
</script>

<style lang="sass" scoped>
  .dropbox
    height: 65%
    width: 100%
    position: relative
  .next-block
    background: url("../assets/curved-arrow.png") center no-repeat
    position: absolute
    top: 9.375rem
    width: 300px
    height: 100px
    background-size: contain
    z-index: -1
</style>
