<template>
    <div>
        <Block :block="block"
               :top="blockDropboxTop"
               :ref="'block'"
               :index="index"
               :isPaused="isPaused"
        />
    </div>
</template>

<script>
import Block from '@/components/Block'
import { mapActions } from 'vuex'
import { TEETER_TOTTER_WIDTH, MOVEMENT_DISTANCE } from '@/constants'

export default {
  name: 'FallingBlock',
  props: {
    block: {
      type: Object,
      required: true
    },
    index: {
      type: Number
    },
    timeOut: {
      type: Number
    }
  },
  components: {
    Block
  },
  data () {
    return {
      blockWindowBottom: 0,
      blockDropboxTop: this.block.height,
      timer: 0
    }
  },
  computed: {
    isPaused () {
      return this.$store.state.isPaused
    },
    getTeeterAngle () {
      return this.$store.getters.getTeeterAngle
    },
    blockFinalPosition () {
      const { top, bottom } = this.getSwingCoords()
      return this.getTeeterAngle >= 0
        ? top + ((bottom - top) / 2) * (1 - this.block.offset / (TEETER_TOTTER_WIDTH / 2))
        : bottom - ((bottom - top) / 2) * (1 - this.block.offset / (TEETER_TOTTER_WIDTH / 2))
    }
  },
  methods: {
    ...mapActions(['checkIfGameOver']),
    getSwingCoords () {
      const { top, bottom } = document.querySelector('.swing').getBoundingClientRect()
      return {
        top, bottom
      }
    },
    incrementBlockDropboxTop () {
      this.blockDropboxTop += 20
    },
    getBlockBottom (el) {
      return el.getBoundingClientRect().bottom
    }
  },
  updated () {
    console.log(this.timeOut)
    if (this.isPaused) return clearTimeout(this.timer)
    if (this.index !== 0) return

    this.blockWindowBottom = this.getBlockBottom(this.$refs.block.$el)
    this.timer = setTimeout(() => {
      if (this.blockWindowBottom >= this.blockFinalPosition - MOVEMENT_DISTANCE * 1.5) {
        clearTimeout(this.timer)
        this.$emit('finished-falling')
        this.checkIfGameOver()
      }
      this.incrementBlockDropboxTop()
    }, this.timeOut)
  }
}
</script>
