<template>
    <main class="gameArea">
        <DropZone/>
        <TeeterTotter/>
        <div class="header__info">
        <div class="header__left common-wrap">
          <span>{{ 'LEFT_BLOCKS_QUANTITY' | localize }}: {{ leftSideBlocks.length }}</span>
          <span>{{ 'LEFT_BLOCKS_MOMENTUM' | localize }}: {{ getLeftMomentum }}</span>
        </div>
        <div class="header__momentum common-wrap">
          <span>{{ 'MOMENTUM_DIFFERENCE' | localize }}: {{ momentumDifference }}</span>
          <span>{{ 'CURRENT_ANGLE' | localize }}: {{ getTeeterAngle.toFixed(0) }}</span>
        </div>
        <div class="header__right common-wrap">
          <span>{{ 'RIGHT_BLOCKS_QUANTITY' | localize }}: {{ rightSideBlocks.length }}</span>
          <span>{{ 'RIGHT_BLOCKS_MOMENTUM' | localize }}: {{ getRightMomentum }}</span>
        </div>
      </div>
    </main>
</template>

<script>
import DropZone from '@/components/DropZone'
import TeeterTotter from '@/components/TeeterTotter'
import { mapGetters, mapState } from 'vuex'

export default {
  components: {
    DropZone, TeeterTotter
  },
  computed: {
    ...mapState(['isPaused', 'leftSideBlocks', 'rightSideBlocks']),
    ...mapGetters(['getLeftMomentum', 'getRightMomentum', 'getTeeterAngle']),
    momentumDifference () {
      return Math.abs(this.getLeftMomentum - this.getRightMomentum)
    }
  }
}
</script>

<style lang="sass" scoped>
  .gameArea
    width: 85%
    height: 100%
    margin: 0 auto
    display: flex
    flex-direction: column
    padding-top: 1rem
    position: relative
  .header__info
    position: absolute
    bottom: 1rem
    right: 20px
    display: flex
    justify-content: space-evenly
    align-items: center
    width: 100%

  .common-wrap
    display: flex
    flex-direction: column
    align-items: center
    width: 50%

    span:first-letter
      text-transform: capitalize

</style>
