<template>
  <div class="game-over">
    <div class="game-over__info">
      <div class="game-over__title">{{ 'GAME_OVER' | localize }}</div>
      <div class="game-over__button" @click="restartGame">
        {{ 'RESTART_BTN' | localize }}</div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'GameOver',
  methods: {
    ...mapActions(['restartGame'])
  }
}
</script>

<style lang="sass" scoped>
  .game-over
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    backdrop-filter: blur(.2rem)
    &__info
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 300px
      height: 300px
      background: white
      border: 5px solid #5e5b5b
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &__title
      width: 100%
      text-align: center
      font-size: 30px
      margin-bottom: 1rem
    &__button
      padding: 0.75rem
      border: 1px solid rgba(130, 252, 116, 0.7)
      background: rgba(105, 165, 99, 0.7)
      border-radius: 15px
      cursor: pointer
      transition: background .5s ease-in-out
      &:hover
        background: rgba(96, 137, 92, 0.7)
</style>
