<template>
  <header class="header">
    <div class="header__container">
      <div class="toggleWrapper">
        <input type="checkbox" class="dn" id="dn" ref="language" @click="isChecked = !isChecked"/>
        <label for="dn" class="toggle">
        <span class="toggle__handler">
        </span>
        </label>
      </div>
      <div class="header__pauseButton"
           @click="restartGame">
        {{ 'RESTART_BTN' | localize }}
      </div>
      <div class="header__pauseButton"
           @click="togglePause">
        {{ pauseText | localize }}
      </div>
    </div>
  </header>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Header',
  data () {
    return {
      isChecked: false
    }
  },
  computed: {
    ...mapState(['isPaused']),
    pauseText () {
      return this.isPaused ? 'PLAY_BTN' : 'PAUSE_BTN'
    }
  },
  methods: {
    ...mapMutations(['togglePause', 'setLocalisation']),
    ...mapActions(['restartGame'])
  },
  watch: {
    isChecked (val) {
      const locale = val ? 'ru-RU' : 'en-US'
      this.setLocalisation(locale)
    }
  }
}
</script>

<style lang="sass" scoped>
$primary-color: #ffffff
$secondary-color: #263238
.header
  width: 100%
  background-color: $primary-color
  color: $secondary-color
  position: relative
  border-bottom: 5px solid $secondary-color

.header__container
  width: 100%
  display: flex
  justify-content: space-evenly
  align-items: center

.header__pauseButton
  width: 20%
  cursor: pointer
  font-size: 2rem
  line-height: 2rem
  padding: 1rem 0
  display: flex
  justify-content: center
  align-items: center
  transition: background-color 0.4s ease-in-out

  &:hover
    background-color: lighten($primary-color, 10%)

.toggleWrapper
  position: absolute
  top: 50%
  left: 50%
  padding: 0 30px
  transform: translate3d(-50%, -50%, 0)
  input
    position: absolute
    left: -99em
.toggle
  cursor: pointer
  display: inline-block
  position: relative
  width: 40px
  height: 30px
  background-color: #749DD6
  border-radius: 20px
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95)

  &:before
    content: 'EN'
    position: absolute
    right: 100%
    top: 50%
    transform: translateY(-50%)
    margin-right: 10px
    font-size: 12px
    color: #2f45ce

  &:after
    content: 'RU'
    position: absolute
    left: 100%
    top: 50%
    transform: translateY(-50%)
    font-size: 12px
    margin-left: 10px
    color: #749ED7
.toggle__handler
  display: inline-block
  position: relative
  z-index: 1
  top: 4px
  left: 3px
  width: 22px
  height: 22px
  background-color: #2f45ce
  border-radius: 50px
  box-shadow: 0 2px 6px rgba(0,0,0,.3)
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
  transform:  rotate(-45deg)

input:checked
  + .toggle
    background-color: #749DD6

    &:before
      color: #749ED7

    &:after
      color: #2f45ce

    .toggle__handler
      transform: translate3d(12px, 0, 0) rotate(0)
</style>
