<template>
    <div class="swing" :style="inlineStyleSwing">
        <Block v-for="block in leftSideBlocks"
               :block="block"
               :key="block.id"/>
        <Block v-for="block in rightSideBlocks"
               :block="block"
               :side="true"
               :key="block.id"/>
    </div>
</template>

<script>
import Block from '@/components/Block'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Swing',
  components: {
    Block
  },
  computed: {
    ...mapState([
      'rightSideBlocks',
      'leftSideBlocks'
    ]),
    getTeeterAngle () {
      return this.$store.getters.getTeeterAngle
    },
    inlineStyleSwing () {
      return {
        transform: `rotate(${this.getTeeterAngle * 0.3}deg)`
      }
    }
  },
  methods: {
    ...mapActions(['preGenerateRightBlock'])
  },
  beforeMount () {
    this.preGenerateRightBlock()
  }
}
</script>

<style lang="sass" scoped>
  .swing
    width: 100%
    height: 0.5rem
    background-color: #205672
    position: relative
    transform: rotate(0deg)
    transition: transform 0.4s ease-in-out

</style>
