<template>
    <section class="teetleTottle">
        <Swing/>
        <Pillar/>
    </section>
</template>

<script>
import Swing from '@/components/Swing'
import Pillar from '@/components/Pillar'

export default {
  components: {
    Swing, Pillar
  }
}
</script>

<style scoped>
    .teetleTottle{
        height: 35%;
        width: 100%;
    }
</style>
