<template>
    <div class="root">
        <Header/>
        <GameArea/>
        <GameOver v-if="gameOver"/>
    </div>
</template>

<script>
import Header from '@/components/Header'
import GameArea from '@/components/GameArea'
import GameOver from '@/components/GameOver'
import { mapState } from 'vuex'

export default {
  name: 'app',
  components: {
    Header,
    GameOver,
    GameArea
  },
  computed: {
    ...mapState(['gameOver'])
  }
}
</script>

<style lang="sass">
  .root
    overflow: hidden
    height: 100vh
    display: flex
    flex-direction: column

  body
    font-family: 'Stem', sans-serif
    box-sizing: border-box
    margin: 0
    padding: 0

</style>
